<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fragrances-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fragrances
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fragrances-link">
                <a href="" class="dropdown-item">Floral/Herbal</a>
                <a href="" class="dropdown-item">Woody/Smokey</a>
                <a href="" class="dropdown-item">Spice</a>
                <a href="" class="dropdown-item">Musk</a>
                <a href="" class="dropdown-item">Tropical/Citrus</a>
                <a href="" class="dropdown-item">All Fragrances</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="lotions-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Lotions
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="lotions-link">
                <a href="" class="dropdown-item">Floral/Herbal</a>
                <a href="" class="dropdown-item">Woody/Smokey</a>
                <a href="" class="dropdown-item">Spice</a>
                <a href="" class="dropdown-item">Musk</a>
                <a href="" class="dropdown-item">Tropical/Citrus</a>
                <a href="" class="dropdown-item">All Lotions</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="candles-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Candles
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="candles-link">
                <a href="" class="dropdown-item">Floral/Herbal</a>
                <a href="" class="dropdown-item">Woody/Smokey</a>
                <a href="" class="dropdown-item">Spice</a>
                <a href="" class="dropdown-item">Musk</a>
                <a href="" class="dropdown-item">Tropical/Citrus</a>
                <a href="" class="dropdown-item">All Candles</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="soaps-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Soaps
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="soaps-link">
                <a href="" class="dropdown-item">Floral/Herbal</a>
                <a href="" class="dropdown-item">Woody/Smokey</a>
                <a href="" class="dropdown-item">Spice</a>
                <a href="" class="dropdown-item">Musk</a>
                <a href="" class="dropdown-item">Tropical/Citrus</a>
                <a href="" class="dropdown-item">All Soaps</a>
            </div>
        </li>
    </ul>
</div>